<div class="cv">

  <div class="header">
    <img src="assets/portrait-tencent.jpg" alt="image" class="avatar">
    <div class="info">
      <div class="name">佘玉非</div>
      <div class="target">软件工程师</div>
    </div>
  </div>

  <div class="body">
    <div class="content">
      <div class="objective">
        对于编程领域有强烈的好奇心和热爱。
      </div>
      <div class="education"></div>
      <div class="experience"></div>
      <div class="projects"></div>
    </div>
    <div class="sidebar">
      <app-contact></app-contact>
      <app-skills></app-skills>
      <div class="language">
        <app-title-underlined>外语</app-title-underlined>
      </div>
    </div>
  </div>

</div>
