// layout
.header {
  padding: 1rem 2rem;
  background-color: var(--primary);
  h1 {
    margin: 0;
    font-size: 3rem;
  }
}

.page {
  margin: 0 auto;
  display: flex;

  .sidebar {
    flex-basis: 30ch;
    background-color: var(--primary-darker);
  }
  .content {
    flex-grow: 1;
    display: flex;
    padding: 2rem;
  }
}

.cv {
  margin-left: 2rem;

  width: 210mm;
  height: 297mm;
  border: 2px dashed var(--on-surface);
  color: var(--on-surface-high-emphasis);
}

@media print {
  button {
    display: none;
  }

  .cv {
    border: none;
    margin: 0;
  }
}
