// layout
.header {
  h1 {
    margin: 0;
  }
}

.page {
  margin: 0 auto;
  max-width: 80rem;
  display: flex;

  .sidebar {
    flex-basis: 30ch;
  }
  .content {
    flex-grow: 1;
    margin: 1rem;

    .cv {
      width: 210mm;
      height: 297mm;
      border: 2px dashed var(--on-surface);
      margin: auto;
    }
  }
}

// content
.header {
  padding: 1rem 2rem;
  background-color: var(--primary);
}

.page {
  .sidebar {
    background-color: var(--primary-darker);
  }

  .content {
    padding: 2rem;
    color: var(--on-surface)
  }
}
