<ng-container *ngIf="!isPrintMode">
  <div class="header">
    <h1>Hello {{title}}</h1>
  </div>

  <div class="page">

    <div class="sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="content">
      <div class="tools">
        <button mat-raised-button color="accent" (click)="isPrintMode = true">打印模式</button>
      </div>
      <div class="cv">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isPrintMode">
  <button mat-raised-button color="accent" (click)="isPrintMode = false">正常模式</button>
  <div class="cv">
    <router-outlet></router-outlet>
  </div>
</ng-container>
