.education-item {
  margin-bottom: 0.5rem;
  display: flex;

  .university {
    font-weight: bold;
    font-size: var(--subtitle-fSize);
    margin-bottom: 0.3rem;
  }
  .gpa {
    margin-top: 0.2rem;
  }
}
