/* You can add global styles to this file, and also import other style files */

:root {
  --primary-900: #1A237E;
  --primary-800: #283593;
  --primary-700: #303F9F;
  --primary-600: #3949AB;
  --primary-500: #3F51B5;
  --primary-400: #5C6BC0;
  --primary-300: #64B5F6;
  --primary-200: #9FA8DA;
  --primary-100: #C5CAE9;
  --primary-50: #E8EAF6;

  --primary-darker: var(--primary-700);
  --primary-dark: var(--primary-600);
  --primary: var(--primary-500);
  --primary-light: var(--primary-400);

  // complementary
  --secondary-900: #008f00;
  --secondary-800: #00b400;
  --secondary-700: #00c900;
  --secondary-600: #00df11;
  --secondary-500: #00f11c;
  --secondary-400: #01f54f;
  --secondary-300: #67f976;
  --secondary-200: #9efca1;
  --secondary-100: #c8fec7;
  --secondary-50: #e9ffe9;

  --secondary: var(--secondary-500);

  // surface color
  --background-c: #ffffff;
  --surface-c: #ffffff;
  --error-c: #b00020;

  // typography colors
  --on-primary: #ffffff;
  --on-background: #000;
  --on-surface: #000;
  // -----text legibility------
  // high, 87%, 0xde
  // medium, 60%, 0x99
  // disabled, 38%, 0x61
  // -------------------------
  --on-surface-high-emphasis: #000000de;
  --on-surface-medium-emphasis: #00000099;
  --on-surface-disabled: #00000061;
  --on-error: #fff;

  --root-fontSize: 12px;
  --title-fSize: 1.5rem;
  --subtitle-fSize: 1.2rem;

  font-size: var(--root-fontSize);
}


body {
  margin: 0;
  background-color: var(--background-c);
  font-family: Calibri, "Microsoft YaHei", sans-serif;
  color: var(--on-primary);
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0.5rem 0;
  padding-inline-start: 0;
}

html, body { height: 100%; }
